:root{
    --corfundo: #cacacb;
    --corfundodiv: #f5f5f5;
    --corcontraste: black;
    --cordestaque: rgb(129, 0, 0);
    --corbotão: rgb(241, 2, 2);

    --fontepadrao:, Arial, Verdana, sans-serif;
    --fontedestaque: Verdana, sans-serif;
}

body {
    font-family: sans-serif;
    background-color: var(--corfundo);
    padding: 20px;
    background-image: url(imagens/logo-marmoraria-fundo-transparente.png);
    background-repeat: no-repeat;
    background-position: left left;
    background-size: 178px;
}

h1 {
    text-align: center;
    font-size: 32px;
    padding: 50px 0px 0px 0px;
    margin-bottom: 10px;
    color: var(--cordestaque);
    font-family: var(--fontedestaque);
    text-shadow: 2px 3px 4px black;
}

.formulario {
    background: var(--corfundodiv);
    padding: 5px;
    border-radius: 10px;
    min-width: 310px;
    max-width: 580px;
    margin: 10px auto;
    /*margin-bottom: 20px;*/
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-family: var(--fontepadrao);
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
    margin-bottom: 4px;
}
input, select {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border: 2px solid var(--cordestaque);
    border-radius: 10px;
    margin: 0px;
}

#cliente, #material, #produto{
    width: 134px;
}

#valor, #comprimento, #largura, #mao_obra, #cuba, #frete, #quantidade, #desconto{
    width: 45px;
}

#total{
    width: 85px;
}

button {
    padding: 10px 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-btn {
    background-color: var(--corbotão);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}
    
.add-btn:hover {
    background-color: var(--cordestaque);
}   


.items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item-card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    width: 120px;
}

.remove-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    background: var(--corbotão);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

.remove-btn:hover {
    background-color: var(--cordestaque);
}

.edit-btn {
    position: absolute;
    right: 10px;
    background: var(--corbotão);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
    bottom: 0;
    margin-bottom: 3px;
}

.edit-btn:hover {
    background-color: var(--cordestaque);
    
}




footer {
    position: fixed;
    bottom: 0;
    color: var(--cordestaque);
    text-align: center;
    font-size: 0.8rem;
    width: 90%;
}
