:root{
    --corfundoletra: #868686;
    --corfundo: #cacacb;
    --corfundodiv: #f5f5f5;
    --corcontraste: black;
    --cordestaque: rgb(129, 0, 0);
    --corbotão: rgb(241, 2, 2);

    --fontepadrao: Arial, Verdana, sans-serif;
    --fontedestaque: Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding: 35px 0px 0px 0px;
    margin-bottom: 10px;
    color: var(--cordestaque);
    font-family: var(--fontedestaque);
    text-shadow: 2px 3px 4px rgba(71, 0, 0, 0.589);
}
hr {
    height: 2px;
    background-color: var(--cordestaque);
    border: none;
    margin: 0 auto;
    width: 282px;
}
#historico-container {/*isso aqui é fundo mesmo, onde fica o grupo card cor cinza*/
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--corfundo);
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 auto
}
.grupo-card {/*grupo onde está o produto, material*/
    display: flex;
    flex-direction: column;
    background-color: var(--corfundodiv);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    min-width: 280px; /* Largura mínima para o card não ficar muito apertado */
}

.item-card {
    position: relative;
    padding: 10px; /* Um padding para dar espaço dentro do item */
    margin-bottom: 10px
}

h2 {
    text-align: center;
    font-family: system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    padding: 0px;
    color: var(--corbotão);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.527);
    /*background-color: var(--corfundoletra);*/
    border-radius: 7px 7px 0px 0px;
}

h3 {
    font-family: var(--fontepadrao);
    font-size: 0.9em;
    color: var(--corbotão);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.212);
    padding: 0px;
    border-radius: 0px 0px 7px 7px;
    /*background-color: var(--corfundoletra);*/
}

#filtro-resumo-painel {

    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--corfundo);
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 auto
}

.filtro-controles {
    justify-content: center; /* Centraliza os itens horizontalmente dentro do container flex */
    gap: 1rem;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--corfundodiv);
}   

option {
    color: black;
}
.resumo-totais h2 {
    font-size: 1.5em;
}

.resumo-totais h3 {
    font-size: 1.3em;
    text-align: left;
}

label {
    background-color: var(--corfundodiv);
    padding: 3px;
    border-radius: 5px;
}
select {
    border-radius: 10px;
    padding: 3px;
}

#aplicar-filtros-btn{
    padding: 3px;
    text-align: right;
    background-color: var(--corbotão);
    margin: 8px 0px;
}

.resumo-totais {
    text-align: left;
}
@media (min-width: 600px) {
    .grupo-card {
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.5rem;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    #historico-container #filto-resumo-painel {
        width: 95%; /* Garante que ocupe a largura da tela em mobile */
        padding: 0.8rem; /* Ajusta o padding para telas menores */
        gap: 0.8rem;
    }
    .grupo-card {
        width: 100%; /* Garante que ocupe toda a largura disponível */
        margin-bottom: 10px;
    }

    .item-card {
        width: 100%; /* Item card ocupa 100% do grupo */
        padding: 8px;
    }

    h2 {
        font-size: 1em; /* Ajusta o tamanho da fonte do cliente */
    }

    h3 {
        font-size: 0.8em; /* Ajusta o tamanho da fonte da data/hora */
    }
}

button {
    padding: 10px 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

.limpar-btn {
    background-color: var(--corbotão);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
    position: relative;
    margin: 0 auto;
    display: flex;
}
    
button:hover {
    background-color: var(--cordestaque);
    color: white;
}

.remove-btn {
    position: absolute;
    right: 0px;
    background-color: var(--corbotão);
    color: white;
    border: none;
    padding: 1px 5px;
    border-radius: 4px;
    z-index: 10;
}

.edit-item-btn {
    background-color: var(--corfundoletra);
    padding: 1px 10px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
    position: relative;
    left: 70pt;
    bottom: 4pt;
    margin: 0 auto;
    display: flex;
}

alert {
    color: whitesmoke;
}