:root{
    --corfundo: #cacacb;
    --corfundodiv: #f5f5f5;
    --corcontraste: black;
    --cordestaque: rgb(129, 0, 0);
    --corbotão: rgb(241, 2, 2);

    --fontepadrao:, Arial, Verdana, sans-serif;
    --fontedestaque: Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
    background-color: rgb(167, 167, 167);
    padding: 1rem;
    background-image: url(imagens/logo-marmoraria-fundo-transparente.png);
    background-repeat: no-repeat;
    background-position: left left;
    background-size: 178px;
}

#creditos {
    position: absolute;
    padding-top: 5px;
    color: var(--cordestaque);
    text-align: center;
    font-size: 0.6rem;
    font-weight: 400;
    width: 90%;
}

.fundo {
    background-color: var(--corfundo);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    min-width: 375px;
    min-height: 500px;
    width: 500px;

}

h1 {
    text-align: center;
    font-size: 32px;
    padding: 35px 0px 0px 0px;
    margin-bottom: 10px;
    color: var(--cordestaque);
    font-family: var(--fontedestaque);
    text-shadow: 2px 3px 4px black;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--corfundodiv);
    padding: 10px;
    border-radius: 10px;
    min-width: 324px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto 10px auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-family: var(--fontepadrao);
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
    margin-bottom: 4px;
}
input, select {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border: 2px solid var(--cordestaque);
    border-radius: 10px;
    margin: 0px;
    font-size: 13px;
}

input:hover {
    border-color: var(--corcontraste);
}

#cliente, #material, #produto{
    width: 135px;
}

#valor, #comprimento, #largura, #mao_obra, #cuba, #frete, #quantidade, #desconto{
    width: 60px;
}

#total, #total_vista{
    width: 100px;
}

button {
    padding: 10px 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-group-btn {
    background-color: var(--corfundo);
    color: rgb(0, 0, 0);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}
    
.add-btn:hover {
    background-color: var(--cordestaque);
}

.add-btn {
    background-color: var(--corbotão);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}
    
.add-btn:hover {
    background-color: var(--cordestaque);
}   

h2{
    font-size: 1em;
}
.grupo-card {/*grupo maior onde fica o botão de salvar e o h2*/
    display: flex;
    flex-direction: column;
    background-color: var(--corfundo);
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    width: 324px;
}

@media (min-width: 600px) {
    .grupo-card {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
    }

.itens-grupo {/*isso aqui é onde fica produto, valor*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    background-color: azure;
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    /*max-width: 330px;
    width: 210px;*/
    width: 100%;
}

    .item-cards p {
        margin: 0;
        flex: 1;
    }
}
.remove-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    background: var(--corbotão);
    color: white;
    border: none;
    padding: 1px 5px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

.remove-btn:hover {
    background-color: var(--cordestaque);
}

.edit-btn {
    position: absolute;
    right: 10px;
    background: var(--corbotão);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
    bottom: 0;
    margin-bottom: 3px;
}

.edit-btn:hover {
    background-color: var(--cordestaque);
    
}

.vai-sumir {
    position: absolute;
    font-size: 1em;
}