:root{
    --corfundo: #cacacb;
    --corfundodiv: #f5f5f5;
    --corcontraste: black;
    --cordestaque: rgb(129, 0, 0);
    --corbotão: rgb(241, 2, 2);

    --fontepadrao:, Arial, Verdana, sans-serif;
    --fontedestaque: Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
    background-color: rgb(167, 167, 167);
    padding: 1rem;
    background-image: url(imagens/logo-marmoraria-fundo-transparente.png);
    background-repeat: no-repeat;
    background-position: left left;
    background-size: 178px;
}

#creditos {
    position: absolute;
    padding-top: 5px;
    color: var(--cordestaque);
    text-align: center;
    font-size: 0.6rem;
    font-weight: 400;
    width: 90%;
}

.fundo {
    background-color: var(--corfundo);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    min-width: 375px;
    min-height: 500px;
    width: 500px;

}

h1 {
    text-align: center;
    font-size: 32px;
    padding: 35px 0px 0px 0px;
    margin-bottom: 10px;
    color: var(--cordestaque);
    font-family: var(--fontedestaque);
    text-shadow: 2px 3px 4px black;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--corfundodiv);
    padding: 10px;
    border-radius: 10px;
    min-width: 324px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto 10px auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-family: var(--fontepadrao);
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
    margin-bottom: 4px;
}
input, select {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border: 2px solid var(--cordestaque);
    border-radius: 10px;
    margin: 0px;
    font-size: 13px;
}

input:hover {
    border-color: var(--corcontraste);
}

#cliente, #material, #produto{
    width: 135px;
}

#valor, #comprimento, #largura, #mao_obra, #cuba, #frete, #quantidade, #desconto{
    width: 60px;
}

#total, #total_vista{
    width: 100px;
}

button {
    padding: 10px 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

button:hover {
    background-color: var(--cordestaque);
}

.add-group-btn {
    background-color: var(--corfundo);
    color: rgb(0, 0, 0);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

.add-btn {
    background-color: var(--corbotão);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}
    
.add-btn:hover {
    background-color: var(--cordestaque); 
}   

.historico-link {

    padding: 10px 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--corbotão);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
    text-decoration: none;
}

.historico-link:hover {
    background-color: var(--cordestaque);
}    

h2{
    font-size: 1em;
    padding: 0px;
}
.grupo-card {/*grupo maior onde fica o botão de salvar e o h2*/
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--corfundodiv);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
}

@media (min-width: 600px) {
    .grupo-card {
        align-items: center;
        margin: 0 auto;
    }
}

.itens-grupo {/*isso aqui é onde fica os produtos, valores (item-card) cor vermelha*/
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 468px;
    gap: 1rem;
    background-color: var(--cordestaque);
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
}


.item-card {
    word-break: break-word;
    overflow-wrap: break-word;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
    position: relative;
    max-width: 330px;
    gap: 0.5rem;
    width: 210px;
    font-size: 0.9rem;
    padding: 6px 5px;
}

.item-cards p {
    margin: 0;
    flex: 1;
}
@media (max-width: 430px) {
    .grupo-card {
        min-width: 324px;
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        margin: 0 auto 10px auto;
    }

    /*.itens-grupo {

        width: 160px;
    }*/
    

    .item-card {
        width: 140px;
        max-width: 100%;
    }
}

.remove-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    background: var(--corbotão);
    color: white;
    border: none;
    padding: 1px 5px;
    border-radius: 4px;
    
}

.edit-btn {
    position: absolute;
    right: 10px;
    background: var(--corbotão);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    bottom: 0;
    margin-bottom: 3px;
}

.save-btn {
    position: relative;
    background: var(--corbotão);
    color: white;
    border: none;
    border-radius: 4px;

}
.vai-sumir {
    position: absolute;
    font-size: 1em;
}

.alert-hide {
    display: none;
}

#alert-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    text-align: center;
    border: var(--cordestaque) 2px solid;
    max-width: 300px;
}

.alert-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--corbotão);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
