:root {
    --corfundo: #868383;
    --corfundodiv: #f5f5f5;
    --corcontraste: black;
    --cordestaque: rgb(129, 0, 0);
    --corbotão: rgb(241, 2, 2); 
}
* {
    margin: 0 ;
    padding: 0;
    color: var(--cordestaque);
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--corfundo);

}

section {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#card-fazer-login {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--corfundodiv);
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.377);
    display: flex;
    width: 400px;
    height: 500px;
    justify-content: center;
    flex-direction: column;
}

#titulo {
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    color: var(--cordestaque);
}

img {
    width: 40%;
    margin: 15px auto 5px;
    display: block;
}

h2 {
    font-size: 1em;
    text-align: center;
    margin: 0.7em 0em 2em;
}

a {
    color: var(--corbotão);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-size: 1.2em;
    margin: 2px;
    color: #000;
}

.campo input {
    color: #000;
    padding: 10px;
    width: 100%;
    margin-bottom: 1em;
    align-items: center;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.473);
}
input:focus {
    outline: none;
    border: 3px solid var(--cordestaque);
}

button {
    width: 100%;
    background-color: var(--corbotão);
    color: white;
    font-size: 1.2em;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.473);
}

button:hover {
    background-color: rgb(179, 0, 0);
    cursor: pointer;
}
#esqueceu-senha {
    text-align: center;
    display: block;
    margin-top: 1em;
}


@media (max-width:450px) {

    #card-fazer-login {
        width: 90%;
    }

}