:root{
    --corfundo: #cacacb;
    --corfundodiv: #f5f5f5;
    --corcontraste: black;
    --cordestaque: rgb(129, 0, 0);
    --corbot達o: rgb(241, 2, 2);

    --fontepadrao:, Arial, Verdana, sans-serif;
    --fontedestaque: Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

.fundo {
    background-color: var(--corfundo);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(107, 107, 107);
    width: 100%;
}

.cabecalho-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    margin-right: auto;
}

.cabecalho-principal img {
    width: 80px;
    margin-top: 0.6em;
    display: block;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    color: var(--corfundo);
    font-family: var(--fontedestaque);
    text-shadow: 2px 3px 4px black;
}

nav {
    opacity: 100%;
}

nav > a {
    margin-right: 10px;
    color: var(--corfundodiv);
    text-decoration: none;
    font-weight: 600;

}

nav > a:last-child {
    background-color: rgb(219, 1, 1);
    padding: 8px;
    border-radius: 10px;
    margin-right: 29px;
}

nav > a:hover {
    background-color: var(--cordestaque);
    padding: 2px;
    border-radius: 5px;
}

nav > a:hover:last-child {
    background-color: var(--cordestaque);
    padding: 8px;
    border-radius: 10px;

}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--corfundodiv);
    padding: 10px;
    border-radius: 10px;
    min-width: 324px;
    max-width: 350px;
    width: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.685);
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-family: var(--fontepadrao);
}



.campo {
    display: flex;
    flex-direction: column;

}

.campo label {
    font-weight: bold;
    margin-bottom: 4px;
}
input, select {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border: 2px solid var(--cordestaque);
    border-radius: 10px;
    font-size: 13px;
}

input:hover {
    border-color: var(--corcontraste);
}

#cliente, #material, #produto {
    width: 135px;
}

#valor, #comprimento, #largura, #mao_obra, #cuba, #frete, #quantidade, #desconto{
    width: 67px;
}

#total, #total_vista{
    width: 100px;
}

button {
    padding: 10px 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

button:hover {
    background-color: var(--cordestaque);
}

.add-group-btn {
    background-color: var(--corfundo);
    color: rgb(0, 0, 0);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}

.add-btn {
    background-color: var(--corbot達o);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
}
    
.add-btn:hover {
    background-color: var(--cordestaque); 
}   

.historico-link {

    padding: 10px 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--corbot達o);
    color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.685);
    text-decoration: none;
}

.historico-link:hover {
    background-color: var(--cordestaque);
}    

footer {
    background-color: rgb(107, 107, 107);
}

#creditos {
    font-weight:900;
    padding: 10px;
    color: var(--cordestaque);
    text-align: center;
    font-size: 0.77rem;
}

@media (min-width: 699px) {
    h1 {
        font-size: 2em;
    }

    .cabecalho-principal img {
        width: 110px;
        margin-top: 0.65em;
        padding-left: 5px;
        display: block;
    }

    .formulario {
        max-width: 500px;
        width: 100%;

    }

    input, select {
    padding: 9px;
    font-size: 16px;
    }

    #cliente, #material, #produto {
    width: 200px;
    }

    #valor, #comprimento, #largura, #mao_obra, #cuba, #frete, #quantidade, #desconto{
    width: 90px;
    }

    #total, #total_vista{
    width: 180px;
    }

    .add-group-btn {
        width: 190px;
    }

    .historico-link {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 480px) {
    #creditos {
        font-size: 0.6rem;
    }

}

.alert-hide {
    display: none;
}

#alert-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    text-align: center;
    border: var(--cordestaque) 2px solid;
    max-width: 300px;
}

.alert-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--corbot達o);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
